html {
  height: 100%;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  color: gray;
}

body {
  position: absolute;
  height: 100%;
  width: 100%;
  margin: 0px;
}

#root {
  height: 100%;
  width: 100%;
}

@keyframes slide-bottom{0%{transform:translateY(0)}100%{transform:translateY(67%)}}
@keyframes slide-top{0%{transform:translateY(0)}100%{transform:translateY(-33%)}}